@font-face {
    font-family: "Birds of Paradise";
    src: url("../assets/fonts/birds-of-paradise.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.screen {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.screen {
    animation: fadebackground 3s;
}

@keyframes fadebackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

.title {
    font-family: "Birds of Paradise";
    font-size: 60px;
    text-align: center;
}
