@font-face {
    font-family: "Birds of Paradise";
    src: url("../../assets/fonts/birds-of-paradise.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.view-box-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}