.screen {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    animation: fadebackground 3s;
}

@keyframes fadebackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

.screen-padding {
    flex: 1;
    margin: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
